# Julian Hobbs's website

Hi, I'm Julian.

My interests are:

- Legos
- Minecraft
- Trains
- Playing piano
- [Math Word Problem Calculator](/calculator)
- [Block Blast](/block-blast)

<Minecraft/>

<script lang="ts">
   import Minecraft from "$lib/Minecraft.svx"
</script>