# Julian Hobbs's website

Hi, I'm Julian.

My interests are:

- Legos
- Minecraft
- Trains
- Playing piano

## Projects

I like to make websites and programs with my dad. Here are a few things we have built, with the help of Claude (thanks Claude!)

- [Math Word Problem Calculator](/calculator)
- [Block Blast](/block-blast)

<Minecraft/>

<script lang="ts">
   import Minecraft from "$lib/Minecraft.svx"
</script>
