## Minecraft builds

Here are some of my Minecraft builds:

### 2025

Here's a train design I built:

<img alt="A minecraft train" style="width: 100%" src="minecraft/2025-04-23__Train.jpeg" >

This creation is called "Rascal Pig." It's also a house:

<img alt="Rascal pig house" style="width: 100%" src="minecraft/2025-04-30_Rascal-Pig.jpeg" >
